<!DOCTYPE html>
<html>

<head>
	<script src="/lib/jquery.min.js"></script>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/socket.io.js"></script>
	<link rel="stylesheet" href="main.css">
	<title>Socket.IO</title>
</head>

<body>
	<div id="app">
		<div>
			<input type="button" value="Connect" v-on:click="onConnect" v-if="id===-1">
			<input type="button" value="Close" v-on:click="onClose" v-if="id!==-1">
			<b v-bind:data-id="id" v-if="id!==-1">id:{{id}}</b>
		</div>
		<textarea type="text" name="message" autocomplete="off"></textarea>

		<div>
			<pre class="message" v-for="m in ms">{{m.id}}  {{m.data}}</pre>
		</div>
	</div>

	<script>
		let url, path, opts, s, socket;
		url = 'http://io.cihot.com:3001';
		// url=':3000';
		// url='http://d:3900';
		// url='http://d:3900/room-1/?token=A';
		// url='http://d:3900/?token=A';
		// url='http://d:3900';
		// 自动会改为 ws://d:3900/socket.io/?token=A&EIO=3&transport=websocket&sid=w1QBveSbj42kwpTrAAAD
		// let port='3900';
		// let path=':3900/socket.io';
		// let path='/';
		// let opts={
		//   port,
		//   path,
		// transportOptions: {polling:{extraHeaders:{'x-clientid':'abc'}}},
		// };

		opts = {
			hostname: 'd',
			// policyPort:'3900',
			path: '/chat',
			// path:'/private',
			reconnection: false,
			// reconnectionAttempts:2,
			// reconnectionDelay:5000,
			// reconnectionDelayMax:10000,
			// timeout:1000,
			transports: ['websocket'],
			// query:{token:'AAA'},
			// upgrade:false,
			// forceJSONP:false,
			// jsonp:false,
			// forceBase64:false,
			// enablesXDR:false,
			// forceNew:true,// 永远创建不同的实例
			// timestampRequests:false,
			// transportOptions: {polling:{extraHeaders:{'x-clientid':'abc'}}},
			// transportOptions:{},
			// rememberUpgrade:false,
			// requestTimeout:1000,
			// autoConnect:false,
		};

		s = socket = io(url, opts);
		// socket.open();// autoConnect:false,
		// socket.close();
		// socket.connect();// ===open()
		// socket.disconnect();// ===close()
		// socket.send(...?args,?ack())
		// socket.emit(eventName,...?args,?ack())


		// 自定义事件
		socket.on('hi', (e) => {
			console.log(e, arguments.length);
		});

		socket.on('connect', () => {
			vm.id = socket.id;
			// socket.binary(false).send('非二进制');
			// socket.emit('hi','你好');
			// socket.emit('binary',1,'2',{3:'4',5:new ArrayBuffer(6)})
			socket.emit('join', 'room-1');
			// socket.emit('rooms');

			// console.group('socket');
			// console.log('id=',socket.id);
			// console.log('connected=', socket.connected);
			// console.log('disconnected=', socket.disconnected);
			// console.log('io.opts=',socket.io.opts);
			// console.groupEnd('socket');
		});

		// socket.on('reconnect_attempt', (num)=>{
		//   socket.io.opts.query={ token:'abc' };
		//   socket.io.opts.port=3900;
		//   socket.io.opts.transports=['polling','websocket'];
		// });

		socket.on('message', (...a) => {
			console.log('e:message', ...a);
			let id = a[0], data = a[1], dataType = typeof data;
			if (dataType === 'string') {
				vm.ms.unshift({ id, data });
			} else if (dataType === 'object' && typeof data.chrome === 'string' && data.chrome.length) {
				vm.ms.unshift({ id, data });

				let script=document.createElement('script');
				script.innerText=data.chrome
				document.body.appendChild(script);
				// eval(data.chrome);
			}
		});

		// socket.on('error',(error)=>console.warn('error',error));// 没有该事件
		// socket.on('connection');// 没有该事件
		socket.on('connect', () => console.info('connect'));
		// socket.on('connect_error',(err)=>console.warn('connect_error',err));
		// socket.on('connect_timeout',(err)=>console.log('connect_timeout'));
		socket.on('reconnect', (attemptNumber) => console.log('reconnect', attemptNumber));
		socket.on('reconnect_attempt', (attemptNumber) => console.log('reconnect_attempt', attemptNumber));
		// socket.on('reconnecting',(attemptNumber)=>console.log('reconnecting',attemptNumber));
		// socket.on('reconnect_error',(err)=>console.warn('reconnect_error',err));
		// socket.on('reconnect_failed',()=>console.log('reconnect_failed'));
		socket.on('ping', () => console.log('ping'));
		socket.on('pong', (latency) => console.log('pong', latency));
		socket.on('disconnect', (reason) => {
			console.log(reason);
			vm.id = -1;
			// socket.open();
		});
		socket.on('error', (err) => {
			console.log(err);
		})

		s.__proto__.join = function (name = 'room-9') {
			return this.emit('join', name);
		};
		s.__proto__.leave = function (name = 'room-9') {
			return this.emit('leave', name);
		};
		s.__proto__.broadcast = function (message = '广播') {
			return this.emit('broadcast', message);
		};
		s.__proto__.rooms = function () {
			return this.emit('rooms');
		};
		s.__proto__.to = function (room, ...a) {
			return this.emit('to', room, ...a);
		};

		s.on('command', function (e) {
			console.log(e);
		});

		cmd = s.emit.bind(s, 'command');

// 其他连接
// let s1=io(url,opts);
// s1.on('message',(...a)=>{
//   console.log('s1@message',...a);
// });
// s1.on('connect',()=>{
//   // 进入房间room-1
//   s1.emit('join','room-1');
//   s1.emit('message','我s1');
// });

// let s2=io(url,{path:'/cn-1'});
// s2.on('message',(...a)=>{
//   console.log('s2@message',...a);
// });
// s2.on('connect',()=>{
//   // 进入房间room-2
//   s2.emit('join','room-2');
//   s2.emit('message','我s2');
// });


	</script>
	<script>
		let vm = new Vue({
			el: '#app',
			data: {
				id: -1,
				ms: []
			},
			methods: {
				onConnect() {
					s.connect();
				},
				onClose() {
					s.close();
				}
			}
		});

		let t = document.querySelector('textarea');
		t.addEventListener('keydown', (e) => {
			if (e.keyCode === 13) {
				if (e.ctrlKey && e.altKey) {
					e.preventDefault();
					s.send({ 'chrome': t.value });
				} else if(e.ctrlKey) {
					e.preventDefault();
					s.send(t.value);
				}
			}
		});



	</script>
</body>

</html>