<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="/lib/jquery.js"></script>
	<script src="vnode.js"></script>
	<title>Page Title</title>
</head>
<body>
	<input type="text" value="input">
	<textarea id=""></textarea>
	<div id="app">
		<form>
			<label>{{checkboxDescription}}<input type="checkbox" name="checkboxName" value="checkboxValue" v-model="checkbox"></label>
			<span v-if="checked">checkbox已选中</span>
			<span v-else>没有选中</span>
			<input type="text" v-model="v1">
			<input type="text" v-model="v2" readonly>
		</form>
		<span v-bind:title="bindTitle">{{bindTitle}}</span>
		<span v-if="b">(B)</span>
		<ul>
			<li v-for="row in st"><var name="source">{{row.source}}</var> <var name="target">{{row.target}}</var></li>
		</ul>
		<ol>
			<li v-for="row in rows">{{row.name}}</li>
		</ol>
	</div>
</body>
</html>
<script src="index.js"></script>
